.navbarCustom{
    background-color: #f5867f !important;
}

.navbar-brand{
    font-weight:500;
    letter-spacing: 0.2rem;
    margin: 0 3rem 0 0;
    font-size: 2rem;

}

.nav-item{
    display: flex;
    align-items: center;
}

.nav-link{
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    /* margin: 1rem; */
    padding: 0;
}


/* Estilos Contenedor */
.ContenedorProductos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    margin: 1rem;
    border: none;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.card-title{
    font-size: 1.2rem;
    font-weight: bold;
}

.card-text{
    font-weight: 600;
    font-size: 1.1rem;

}
/* Boton modal search */
.botonModal{
    border: none;
    background: none ;
}